.background {
    -fx-background-image: url("background.jpg");
    -fx-background-size: cover;
}

.label {
    -fx-font-family: Helvetica;
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.list-cell {
    -fx-font-family: Helvetica;
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.text-warning {
    -fx-font-family: Helvetica;
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-text-fill: firebrick;
}

.button-big {
    -fx-font-family: Helvetica;
    -fx-background-color: blanchedalmond;
    -fx-alignment: center;
    -fx-min-width: 200;
    -fx-min-height: 50;

    -fx-text-fill: black;
    -fx-font-size: 30px;
    -fx-font-weight: bold;
}

.button {
    -fx-font-family: Helvetica;
    -fx-background-color: blanchedalmond;
    -fx-alignment: center;
    -fx-min-width: 100;
    -fx-min-height: 50;

    -fx-text-fill: black;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: peachpuff;
}
.button:pressed {
    -fx-background-color: burlywood;
}

.tile-container {
    -fx-vgap: 10px;
    -fx-hgap: 10px;
    -fx-min-height: 400px;
}

.container {
    -fx-pref-width: 180px;
    -fx-pref-height: 180px;
    -fx-background-color: blanchedalmond;
    -fx-alignment: top-center;
    -fx-padding: 10px;
    -fx-spacing: 10px;
}
.container:hover {
    -fx-background-color: peachpuff;
}
.container:pressed {
    -fx-background-color: burlywood;
}

.vbox {
    -fx-spacing: 10px;
    -fx-alignment: center;
    -fx-max-width: 800px;
}

.hbox {
    -fx-spacing: 50px;
    -fx-alignment: center;
}